#theme_button{
    color: #018CD4;
    position: fixed;
    border: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    transition: 1s;
    background: transparent;
}
button:active, button:focus{
    box-shadow: none;
}
.team_member_cards{
    background-color: gray;
    border-radius: 5%;
    width: fit-content;
}